In this notebook, you will find the code that accompanies my Medium blog. It shows how to do some data cleaning in both Pandas and SQL.

In [1]:
#importing the libraries
import pandas as pd
from sqlalchemy import create_engine

#this helper module has a password to connect to the DB & allow sqlalchemy to connect as well
from password import password

#this module will allow you to use PostgreSQL
import psycopg2

#this is a cool 'magic code' that will allow you to type SQL commands into the notebook
%load_ext sql

For the purposes of my demonstration seen in my blog I have downloaded a Kaggle dataset on automobile data. It can be found [here](https://www.kaggle.com/uciml/autompg-dataset?select=auto-mpg.csv).

*I should also mention that I have altered this dataset to include a null value to show how to deal with them. My version of this dataset is pushed into this repository.*

In [2]:
#loading the data into Pandas
df = pd.read_csv('auto-mpg.csv')

In [3]:
#making a connection to the SQL database
connection_string = f'postgresql://postgres:{password}@localhost/Cars'
%sql $connection_string

#allowing sqlalchemy to connect to the database
create_engine(f'postgresql://postgres:{password}@localhost/Cars')

Engine(postgresql://postgres:***@localhost/Cars)

CHECKING YOUR DATATYPES:

In [4]:
df.dtypes

mpg             float64
cylinders       float64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [5]:
%%sql

SELECT
    column_name,
    data_type
FROM
    information_schema.columns
WHERE
    table_name = 'cars';

 * postgresql://postgres:***@localhost/Cars
9 rows affected.

[('mpg', 'numeric'),
 ('cylinders', 'numeric'),
 ('displacement', 'numeric'),
 ('horsepower', 'text'),
 ('weight', 'integer'),
 ('acceleration', 'numeric'),
 ('model_year', 'integer'),
 ('origin', 'integer'),
 ('car_name', 'text')]

CHANGING YOUR DATATYPES:

In [6]:
df['mpg']= df['mpg'].astype('int')
df['mpg']

0      18
1      15
2      18
3      16
4      17
       ..
393    27
394    44
395    32
396    28
397    31
Name: mpg, Length: 398, dtype: int64

In [7]:
%%sql

ALTER TABLE cars
ALTER COLUMN mpg TYPE integer;

SELECT
    column_name,
    data_type
FROM
    information_schema.columns
WHERE
    table_name = 'cars';

 * postgresql://postgres:***@localhost/Cars
Done.
9 rows affected.

[('mpg', 'integer'),
 ('cylinders', 'numeric'),
 ('displacement', 'numeric'),
 ('horsepower', 'text'),
 ('weight', 'integer'),
 ('acceleration', 'numeric'),
 ('model_year', 'integer'),
 ('origin', 'integer'),
 ('car_name', 'text')]

CHECKING YOUR DESCRIPTIVE STATISTICS:

In [8]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,397.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.349246,5.448363,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.752542,1.698329,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.000000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [9]:
%%sql

SELECT COUNT(mpg), AVG(mpg) AS mean, STDDEV(mpg),
MIN(mpg), PERCENTILE_CONT(0.25) WITHIN GROUP(ORDER BY mpg) AS TWENTYFIVE, PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY mpg) AS FIFTY,
PERCENTILE_CONT(0.75) WITHIN GROUP(ORDER BY mpg) AS SEVENTYFIVE, MAX(mpg)
FROM cars;

 * postgresql://postgres:***@localhost/Cars
1 rows affected.

[(398, Decimal('23.3492462311557789'), Decimal('7.7525415957365594'), 9, 17.0, 23.0, 29.0, 46)]

CHECKING FOR MISSING VALUES

In [10]:
df.isnull().sum()

mpg             0
cylinders       1
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [11]:
%%sql

SELECT COUNT(*) AS missing
FROM cars
WHERE cylinders IS NULL;

 * postgresql://postgres:***@localhost/Cars
1 rows affected.

[(1,)]

FILLING MISSING VALUES:

In [13]:
df['cylinders'].fillna(df['cylinders'].mean(), inplace = True)
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [14]:
%%sql

UPDATE cars
SET cylinders = (SELECT AVG(cylinders) FROM cars) WHERE cylinders IS NULL;

SELECT COUNT(*) - COUNT(cylinders) AS missing
FROM cars;

 * postgresql://postgres:***@localhost/Cars
1 rows affected.
1 rows affected.

[(0,)]